/* font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap&font-display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap&font-display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap&font-display=swap');
@import 'tailwindcss';
@tailwind utilities;

/* for tailwind */
@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

@layer utilities {
  .white-text-glow {
    text-shadow: 0px 0px 4px #ac6871;
  }

  .font-dm-sans {
    font-family: 'DM Sans', sans-serif;
    font-display: swap;
  }

  /* shadow untuk Beranda */
  .shadow-beranda {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 50px 0px #ca63a9;
  }

  .custom-button-shadow {
    box-shadow: 0px 0px 20px 1px rgba(12, 16, 29, 0.5), 0px 0px 15px 1px rgba(12, 16, 29, 0.5) inset;
  }

  .glow-dashboard-text {
    text-shadow: 0px 5px 10px rgba(172, 104, 113, 0.7);
  }

  .bg-competition {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(0deg, rgba(48, 32, 68, 0.3) 0%, rgba(48, 32, 68, 0.3) 100%),
      url('/images/background.png') lightgray -1.288px -0.418px / 100.509% 225.45% no-repeat;
  }

  .custom-button-bg {
    background: linear-gradient(to right, #f97283, #b247b4, #9323c2);
  }

  .custom-button-bg-2:hover {
    background: linear-gradient(to right, #f97283, #b247b4, #9323c2);
  }
  .input-text-glow {
    text-shadow: 0px 4px 15px #ac6871;
  }

  .button-hover:hover {
    box-shadow: 0 0 10px 5px rgba(209, 107, 165, 0.2);
    filter: brightness(1.1);
  }

  .back-button-glow:hover {
    text-shadow: 0px 0px 15px #e3e3e3;
  }

  /*for back button on hover*/
  .nav-text-hover:hover {
    color: #fb64b6;
    text-shadow: 0px 0px 20px #ac6871;
    filter: brightness(1.1);
  }

  .timeline-circle-glow {
    box-shadow: 0px 0px 15px 10px #ac6871 inset;
    filter: drop-shadow(0px 0px 15px #ac6871);
  }

  .timeline-line-glow {
    box-shadow: 0px 0px 5px 1px #ac6871 inset;
    filter: drop-shadow(0px 0px 5px #ac6871);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    transition: opacity 0.3s ease-in-out;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #7b446c;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2d1a36;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4d3159;
  }

  .white-text-glow {
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-display: swap;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0px 1px 6.5px 0px #ff9ba8 inset, 0px 5px 10px 0px rgba(172, 104, 113, 0.7), 0px 0px 20px #ffffff;
  }
}

/* Root styling untuk seluruh body */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-display: swap;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-display: swap;
  /* background-color: #302044; */
  background: linear-gradient(135deg, #5c3b5c, #2e263c, #a86b8290);
  color: white;
  /* height: 100vh; */
  width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
