/* font */
@import "tailwindcss";
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



/* for tailwind */
@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

@layer utilities {
  .white-text-glow {
    text-shadow: 0px 4px 10px #AC6871
  }

  .custom-button-shadow {
    box-shadow: 0px 0px 20px 1px rgba(12, 16, 29, 0.5), 0px 0px 15px 1px rgba(12, 16, 29, 0.5) inset;
  }

  .custom-button-bg {
    background: linear-gradient(to right, #F97283, #B247B4, #9323C2);
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}